html {
    font-family: "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

body {
    padding: 10px;
    margin-bottom: 100px;
}

h1 {
    position: relative;
    color: #158b2b;
    font-size: 60px;
    padding: 50px 0;
    text-align: center;
    margin: 0.01em 0;
}
h1:before {
    content: "";
    position: absolute;
    top: 20px;
    left: 50%;
    width: 400px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid #a6ddb0;
    border-left-color: transparent;
    border-right-color: transparent;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

h2 {
    margin-top: 40px;
    padding: 0.4em 0.5em; /*文字の上下 左右の余白*/
    color: #494949; /*文字色*/
    background: #f4f4f4; /*背景色*/
    border-left: solid 5px #7db4e6; /*左線*/
    border-bottom: solid 3px #d7d7d7; /*下線*/
}

section > p {
    padding: 10px;
}

dl {
    margin: 20px 50px 20px 20px;
}

dl dt {
    font-size: 120%;
    font-weight: bold;
    padding: 5px;
    margin-top: 20px;
}

dl dd {
    padding: 5px;
}


ul, ol {
    background: #fffde8;
    box-shadow: 0px 0px 0px 10px #fffde8; /*線の外側*/
    border: dashed 2px #ffb03f; /*破線*/
    border-radius: 9px;
    margin-left: 10px; /*はみ出ないように調整*/
    margin-right: 10px; /*はみ出ないように調整*/
    padding: 0.5em 0.5em 0.5em 2em;
}

ul li, ol li {
    line-height: 1.5;
    padding: 0.5em 0;
}

footer {
    background: #404040;
    color: white;
    font-size: 80%;
    text-align: center;
    font-weight: bold;
    padding: 2px;
}
